.projects-container {
  overflow: -moz-hidden-unscrollable;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 8050;
}

.ModalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 90%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

#projects,
.swiper-slide {
  z-index: auto;
}
